.mm_favorites_post_delete {
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    background: red;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.btn {
    padding: 10px 15px;
    margin-top: 20px;
    background: #00a0d2;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
}